/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header aside section footer {
    text-align: center;
    padding: 50px;
    border: 1px solid black;
}

header {
    background-color: #22396a;
    line-height: 2.0;
    margin-bottom: 30px;
}
.company {
    font-size: 48px;
}
a {
    font-size: 20px;
    text-decoration: none;
    color: red;
    padding: 10px
}
.brand {
    width:25%;
    display: inline-block;
    text-align: center;
}
.navigate {
    width:65%;
    display: inline-block;
    text-align: center;
}
aside {
    display: inline-block;
    text-align: justify;
    padding: 30px;
    width: 45%;
}  
.image1 {
    width: 45%;
}
h1 {
    font-size: 35px;
    margin-bottom: 10px;
}
p {
    font-size: 25px;
}
footer{
    background-color: #22396a;
    
    line-height: 2.0;
    padding: 10px;
}
.footer1 {
    font-size: 30px;
}
